<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Listado de pokemones</a>
        
        <!--
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="nombre" [(ngModel)]="nombrePoke">
                <button class="btn btn-outline-success" (click)="detalles()">Search</button>
            </form>
        -->
        
    </div>
</nav>



